<h3>Timer Help/Tips</h3>
<hr>
<div class="accordion-container">
    <button class="accordion">Basic Info</button>
    <div class="panel">
        <ul>
            <li>Use "Timer Adjustments" to add or remove time from the clock. This can be useful if the timer is started early/late, and can be done while the timer is running.</li>
            <li>"Load server configuration profile" allows you to load pre-saved timer configurations. Selecting a profile will update the "Timer Options" form with the saved values.</li>
            <li>After changing any options in the "Timer Options" form, be sure to click "Save Options" to apply the changes.</li>
        </ul>
    </div>

    <button class="accordion">League/Bonspiel Modes</button>
    <div class="panel">
        <ul>
            <li>The main difference between the "League" and "Bonspiel" game types is that you define how many ends to play in League mode, while in Bonspiel mode the number of ends is automatically calculated based on the "Time to chime" value, when a warning is given to finish the current end and play one more.</li>
            <li>Because of this, the "Time to chime" value should be set to a time that falls at the beginning of (or within) the desired second-to-last end (e.g. in a standard 8-end game, a value of 95 minutes would be 5 minutes into the 7th end and the timer would calculate the game includes 8 ends total).</li>
            <li><b>IMPORTANT:</b> The scheduler which starts the timer for regularly scheduled leagues will not function if the timer is in Bonspiel mode. Therefore, it is imperative that the timer is set back to League mode after the bonspiel is complete.</li>
        </ul>
    </div>
</div>
<hr>
<p>Please see the <a href="https://docs.google.com/document/d/19iMoP1LtldfbFqzfDmWGaM_THwu5BdLK5ouhAeS82a4/edit?usp=sharing" target="_blank">Timer Documentation</a> for detailed instructions on using the timer.</p>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
}
</script>