<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Curling timer</title>
</head>
<body>
    <h1>Curling timer configuration 
        <button class="popover-button" popovertarget="help-popover">
            <img src="{{ url_for('static', filename='images/circle-info.svg') }}"
                alt="Timer help" height="20" width="20" />
        </button>
    </h1>
    <div class="flex-container">
        <div class="flex-item">
            <div class="card">
                <form name="timerActions" method="POST">
                    <h3>Timer Controls</h3>
                    <br />
                    <button type="submit" name="Start" style="background-color: green;">Start Timer</button>
                    <button type="submit" name="Stop" style="background-color: red;">Stop Timer</button>
                    <button type="submit" name="Reset" style="background-color: blue;">Reset Timer</button>
                </form>
            </div>
            <div class="card">
                <form name="timerAdjustments" method="POST">
                    <h3>Timer Adjustments</h3>
                    <br />

                    <label for="add_minutes">More Time</label>
                    <input type="radio" id="add_minutes" name="adjust_minutes_dir" value="add" checked="checked"/>
                    <label for="subtract_minutes">Less Time</label>
                    <input type="radio" id="subtract_minutes" name="adjust_minutes_dir" value="subtract" />

                    <br />

                    <label for="adjust_minutes">Minutes:</label>
                    <input id="adjust_minutes" name="adjust_minutes" type="number" step="1" value="0" min="0" max="120" style="width: 75px;">

                    <br />
                    <button type="submit" name="AdjustTimer">Adjust Timer</button>
                </form>

            </div>
            <div class="card">
                <h3>Configuration</h3>
                <p>Click <a href="{{url_for('style_preview')}}">here</a> for creating styles for the front end.</p>
                <br/>
                <form name="load_profile" method="POST">
                    <h3>Load server configuration profile</h3>
                    <select id="profile_name" name="profile_name">
                        <option value="empty">Select a profile</option>
                        {% for profile in profiles %}
                            <option value="{{ profile }}" {% if profile == selected_profile_name %}selected{% endif %}>{{ profile }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <div>
                        <h4>Profile Description</h4>
                        <div id="profile_description">None</div>
                    </div>

                    <button type="submit" name="LoadProfile">Load Profile</button>
                </form>
            </div>
        </div>
        <div class="flex-item">
            <div class="card">
                <form id="timerOptions" name="timerOptions" onsubmit="submitPreprocessing();" method="POST">
                    <h3>Timer Options</h3>
                    <div class="form_container">
                        <label for="game_type">Game type:</label><br>
                        <select id="game_type" name="game_type">
                            <option value="league" {% if game_type == "league" %}selected{% endif %}>League</option>
                            <option value="bonspiel" {% if game_type == "bonspiel" %}selected{% endif %}>Bonspiel</option>
                        </select>
                    </div>

                    <div class="form_container">
                        <label for="num_ends">Number of ends:</label><br>
                        <input type="text" id="num_ends" name="num_ends" value="{{num_ends}}" required>
                    </div>

                    <div class="form_container">
                        <label for="time_to_chime">Time to chime:</label><br>
                        <input type="text" id="time_to_chime" name="time_to_chime" value="{{time_to_chime}}" required>
                        <label for="time_to_chime_seconds">Seconds</label>
                        <input type="radio" id="time_to_chime_seconds" name="time_to_chime_unit" value="sec" checked/>
                        <label for="time_to_chime_minutes">Minutes</label>
                        <input type="radio" id="time_to_chime_minutes" name="time_to_chime_unit" value="min"/>
                    </div>

                    <div class="form_container">
                        <label for="time_per_end">Time per end:</label><br>
                        <input type="text" id="time_per_end" name="time_per_end" value="{{time_per_end}}" required>
                        <label for="time_per_end_seconds">Seconds</label>
                        <input type="radio" id="time_per_end_seconds" name="time_per_end_unit" value="sec" checked/>
                        <label for="time_per_end_minutes">Minutes</label>
                        <input type="radio" id="time_per_end_minutes" name="time_per_end_unit" value="min"/>
                    </div>

                    <div class="form_container">
                        <label for="stones_per_end">Stones per end:</label><br>
                        <input type="text" id="stones_per_end" name="stones_per_end" value="{{stones_per_end}}" required>
                    </div>

                    <div class="form_container">
                        <label for="count_in">Timer count in:</label><br>
                        <input type="text" id="count_in" name="count_in" value="{{count_in}}" required>
                        <label for="count_in_seconds">Seconds</label>
                        <input type="radio" id="count_in_seconds" name="count_in_unit" value="sec" checked/>
                        <label for="count_in_minutes">Minutes</label>
                        <input type="radio" id="count_in_minutes" name="count_in_unit" value="min"/>
                    </div>

                    <fieldset>
                        <legend>Allow overtime:</legend>
                        <label for="allow_ot_true">True</label>
                        <input type="radio" id="allow_ot_true" name="allow_overtime" value="1" {% if allow_overtime %} checked {% endif %}/>
                        <label for="allow_ot_false">False</label>
                        <input type="radio" id="allow_ot_false" name="allow_overtime" value="0" {% if not allow_overtime %} checked {% endif %} />
                    </fieldset>

                    <fieldset>
                        <legend>Timer direction:</legend>
                        <label for="countdown">Count down</label>
                        <input type="radio" id="countdown" name="count_direction" value="-1" {% if count_direction == -1 %} checked {% endif %}/>
                        <label for="countup">Count up</label>
                        <input type="radio" id="countup" name="count_direction" value="1"  {% if count_direction == 1 %} checked {% endif %}/>
                    </fieldset>
                    <br />
                    <button type="submit" name="Save">Save Options</button>
                </form>
            </div>
            <div class="card">
                <div>
                    <h3>Current timer value</h3>
                    <span>{{"{:02d}:{:02d}:{:02d}".format(hours, minutes,seconds)}}</span>
                </div>
                <div>
                    <h3>Target end</h3>
                    <span>End number: {{ end_number }}</span><br />
                    <span>Percentage of complete of target end: {{ "{:0.2f}".format(100*end_percentage) }}</span><br />
                    <span>Overtime: {{ overtime }}</span><br />
                </div>
            </div>
        </div>
    </div>

    <div popover id="help-popover">
        <h3>Timer Help/Tips</h3>
        <hr>
        <div class="accordion-container">
            <button class="accordion">Basic Info</button>
            <div class="panel">
                <ul>
                    <li>Use "Timer Adjustments" to add or remove time from the clock. This can be useful if the timer is started early/late, and can be done while the timer is running.</li>
                    <li>"Load server configuration profile" allows you to load pre-saved timer configurations. Selecting a profile will update the "Timer Options" form with the saved values.</li>
                    <li>After changing any options in the "Timer Options" form, be sure to click "Save Options" to apply the changes.</li>
                </ul>
            </div>

            <button class="accordion">League/Bonspiel Modes</button>
            <div class="panel">
                <ul>
                    <li>The main difference between the "League" and "Bonspiel" game types is that you define how many ends to play in League mode, while in Bonspiel mode the number of ends is automatically calculated based on the "Time to chime" value, when a warning is given to finish the current end and play one more.</li>
                    <li>Because of this, the "Time to chime" value should be set to a time that falls at the beginning of (or within) the desired second-to-last end (e.g. in a standard 8-end game, a value of 95 minutes would be 5 minutes into the 7th end and the timer would calculate the game includes 8 ends total).</li>
                    <li><b>IMPORTANT:</b> The scheduler which starts the timer for regularly scheduled leagues will not function if the timer is in Bonspiel mode. Therefore, it is imperative that the timer is set back to League mode after the bonspiel is complete.</li>
                </ul>
            </div>
        </div>
        <hr>
        <p>Please see the <a href="https://docs.google.com/document/d/19iMoP1LtldfbFqzfDmWGaM_THwu5BdLK5ouhAeS82a4/edit?usp=sharing" target="_blank">Timer Documentation</a> for detailed instructions on using the timer.</p>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

        function handleUnitChange(inputId, unitElements) {
            var inputElement = document.getElementById(inputId);

            for (var i = 0; i < unitElements.length; i++) {
                unitElements[i].addEventListener('change', function() {
                    var inputValue = inputElement.value;
                    if (this.value === "sec") {
                        inputElement.value = inputValue * 60;
                    } else {
                        inputElement.value = inputValue / 60;
                    }
                });
            }
        }

        // Setup callback functions for unit changes
        handleUnitChange("time_per_end", document.timerOptions.time_per_end_unit);
        handleUnitChange("count_in", document.timerOptions.count_in_unit);
        handleUnitChange("time_to_chime", document.timerOptions.time_to_chime_unit);

        function convertToSecondsIfNeeded(inputId, seconds_radioId) {
            var inputElement = document.getElementById(inputId);
            var inputValue = inputElement.value;
            var seconds_radio = document.getElementById(seconds_radioId);

            // Convert to seconds if seconds_radio is unchecked (i.e., currently showing minutes)
            if (!seconds_radio.checked) {
                inputElement.value = inputValue * 60;
            }
        }

        function submitPreprocessing() {
            // Convert times back to seconds before submitting form if needed
            convertToSecondsIfNeeded("time_per_end", "time_per_end_seconds");
            convertToSecondsIfNeeded("count_in", "count_in_seconds");
            convertToSecondsIfNeeded("time_to_chime", "time_to_chime_seconds");
        }

        function updateDescription() {
            // Get selected profile name
            selectedProfile = document.getElementById('profile_name').value;

            // Send input data as JSON to the server
            fetch('/get_profile_description', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(selectedProfile),
            })
            .then(response => response.json())
            .then(json => {
                //this will be undefined if they re-select the default "Select a profile" dropdown option
                if (json["description"] === undefined) json["description"] = "None";
                document.getElementById('profile_description').innerHTML = json["description"];
            })
            .catch(error => console.error('Error:', error));
        }

        function onGameTypeChange() {
            selectedType = document.getElementById('game_type').value;
            if (selectedType === "bonspiel") {
                document.getElementById('num_ends').parentElement.classList.add('hidden');
                document.getElementById('time_to_chime').parentElement.classList.remove('hidden');
            } else {
                document.getElementById('num_ends').parentElement.classList.remove('hidden');
                document.getElementById('time_to_chime').parentElement.classList.add('hidden');
            }
        }

        document.getElementById('game_type').addEventListener('change', function(){
            event.preventDefault();
            onGameTypeChange();
        });

        // Add event listener to the profile name dropdown to update the profile description
        document.getElementById('profile_name').addEventListener('change', function(){
            event.preventDefault();
            updateDescription();
        });

        // If the form changes, then the profile has changed so we should no longer display
        // the profile description or name
        document.getElementById('timerOptions').addEventListener('change', function(){
            event.preventDefault();
            document.getElementById('profile_name').value = "empty";
            updateDescription();
        });

        // Update the profile description when the page loads
        updateDescription();
        onGameTypeChange();
    </script>
</body>
</html>