<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Curling timer</title>
    <style>
        #color_picker {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        #color_labels {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #color_inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h1>Curling timer style configuration</h1>
        <form name="styles_form" method="POST">
            <div class="card">
                <div id="color_picker">
                    <div id="color_labels">
                        <label for="screen_bg">Screen background:</label>
                        <label for="text_color">Main text color:</label>
                        <label for="bar_fg">Progress bar foreground first color:</label>
                        <label for="bar_fg">Progress bar foreground second color:</label>
                        <label for="bar_bg">Progress bar background color:</label>
                        <label for="bar_bg">Progress bar divider color:</label>
                    </div>
                    <div id="color_inputs">
                        <input type="color" id="screen_bg" name="screen_bg" value={{SCREEN_BG}} />
                        <input type="color" id="text_color" name="text_color" value={{TEXT}} />
                        <input type="color" id="bar_fg1" name="bar_fg1" value={{BAR_FG1}} />
                        <input type="color" id="bar_fg2" name="bar_fg2" value={{BAR_FG2}} />
                        <input type="color" id="bar_bg" name="bar_bg" value={{BAR_BG}} />
                        <input type="color" id="bar_divider" name="bar_divider" value={{BAR_DIVIDER}} />
                    </div>
                </div>
            </div>
            <div class="card">
                <label for="color_every_nth">Color every n-th stone:</label><br>
                <input type="text" id="color_every_nth" name="color_every_nth" value="2" required><br>
            </div>
            <div class="card">
                <button type="button" id="preview_style_btn">Preview Styles</button>
                <button type="submit" id="save_style_btn">Save Styles</button>
            </div>            
        </form>
    </div>
 
    <div class="card">
        <img id="generated_image" width="100%">
    </div>

    <script>
        function hexToRgb(hex) {
            // Remove the '#' if it exists
            hex = hex.replace(/^#/, '');

            // If the hex code is shorthand (e.g., "#03F"), expand it to full form
            if (hex.length === 3) {
                hex = hex.split('').map(function (hexChar) {
                    return hexChar + hexChar;
                }).join('');
            }

            // Convert the hex values to RGB and return as an array
            let r = parseInt(hex.substring(0, 2), 16);
            let g = parseInt(hex.substring(2, 4), 16);
            let b = parseInt(hex.substring(4, 6), 16);

            return [r, g, b];  // Return as an array of integers
        }

        function get_form_data() {            
            inputData = {
                "colors":
                {
                    'SCREEN_BG': hexToRgb(document.forms['styles_form']['screen_bg'].value),
                    'TEXT': hexToRgb(document.forms['styles_form']['text_color'].value),
                    'BAR_FG1': hexToRgb(document.forms['styles_form']['bar_fg1'].value),
                    'BAR_FG2': hexToRgb(document.forms['styles_form']['bar_fg2'].value),
                    'BAR_BG': hexToRgb(document.forms['styles_form']['bar_bg'].value),
                    'BAR_DIVIDER': hexToRgb(document.forms['styles_form']['bar_divider'].value),
                },
                "parameters":
                {
                    'color_every_nth': parseInt(document.forms['styles_form']['color_every_nth'].value),
                }
            };

            return inputData;
        }

        document.getElementById('preview_style_btn').addEventListener('click', function() {
            event.preventDefault();

            // Collect form data
            inputData = get_form_data();

            // Send input data as JSON to the server
            fetch('/style_img', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(inputData),
            })
            .then(response => response.blob())  // Get the image blob response
            .then(imageBlob => {
                // Create a URL for the image blob
                const imageUrl = URL.createObjectURL(imageBlob);

                // Show the generated image
                const img = document.getElementById('generated_image');
                img.src = imageUrl;
                img.style.display = 'block';
            })
            .catch(error => console.error('Error:', error));
        });

        

        document.getElementById('save_style_btn').addEventListener('click', function() {
            event.preventDefault();

            // Collect form data
            inputData = get_form_data();

            // Send input data as JSON to the server
            fetch('/download_style', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(inputData),
            })
            .then(response => response.blob())
            .then(blob => {
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = "user_styles.json";
                link.click();
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>