
{% extends "admin/base.html" %}
{% block head %}
  <title>Change Password - Curling timer</title>
{% endblock %}
{% block header %}
  Change password
{% endblock %}
{% block content %}
    <div class="card">
        <form method="post" action="{{ url_for('admin.change_password') }}">
            <label for="current_password">Current Password:</label><br>
            <input type="password" id="current_password" name="current_password" required><br><br>

            <label for="new_password">New Password:</label><br>
            <input type="password" id="new_password" name="new_password" required><br><br>

            <label for="confirm_password">Confirm New Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>

            <button type="submit" value="Change Password">Change Password</button>
        </form>
    </div>
{% endblock %}