{% extends "admin/base.html" %}
{% block head %}
  <title>League Scheduler - Curling timer</title>
{% endblock %}
{% block header %}
  League Scheduler
  <button class="popover-button" popovertarget="help-popover">
      <img src="{{ url_for('static', filename='images/circle-info.svg') }}"
          alt="Timer help" height="20" width="20" />
  </button>
{% endblock %}
{% block content %}
  <div class="card">
      <h2>Current jobs</h2>
          <table>
              <thead>
              <tr>
                  <th>Job ID</th>
                  <th>Day</th>
                  <th>Start time</th>
                  <th>Profile</th>
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
        {% for job in jobs %}
              <tr>
              <form method="post" style="display:inline;">
                  <td>{{ job["id"] }}</td>
                  <td>
                      <p class="mobile-label">Day of week</p>
                      <select name="day_of_week" required>
                          <option value="sun" {% if job["day_of_week"] == 'sun' %}selected{% endif %}>Sunday</option>
                          <option value="mon" {% if job["day_of_week"] == 'mon' %}selected{% endif %}>Monday</option>
                          <option value="tue" {% if job["day_of_week"] == 'tue' %}selected{% endif %}>Tuesday</option>
                          <option value="wed" {% if job["day_of_week"] == 'wed' %}selected{% endif %}>Wednesday</option>
                          <option value="thu" {% if job["day_of_week"] == 'thu' %}selected{% endif %}>Thursday</option>
                          <option value="fri" {% if job["day_of_week"] == 'fri' %}selected{% endif %}>Friday</option>
                          <option value="sat" {% if job["day_of_week"] == 'sat' %}selected{% endif %}>Saturday</option>
                        </select>
                  </td>
                  <td>
                    <p class="mobile-label">Start time</p>
                    <input type="time" name="start_time" value="{{ '%02d:%02d' | format(job['hour'], job['minute']) }}" required />
                  </td>
                  <td>
                    <p class="mobile-label">Profile</p>
                      <select name="profile" required>
                          {% for profile in profiles %}
                            <option value="{{ profile }}" {% if profile == job["profile"] %}selected{% endif %}>{{ profile }}</option>
                          {% endfor %}
                      </select>
                  <td>
              <input name="action" type="hidden" value="edit">
              <input name="job_id" type="hidden" value="{{ job['id'] }}">
              <button type="submit">Edit</button>
            </form>
            <form method="post" style="display:inline;">
              <input name="action" type="hidden" value="pause_resume">
              <input name="job_id" type="hidden" value="{{ job['id'] }}">
              {% if job['paused'] %}
                <button type="submit" style="background-color: green;">Resume</button>
              {% else %}
                <button type="submit" style="background-color: gold;">Pause</button>
              {% endif %}
            </form>
            <form method="post" style="display:inline;">
              <input name="action" type="hidden" value="delete">
              <input name="job_id" type="hidden" value="{{ job['id'] }}">
              <button type="submit" style="background-color: red;">Delete</button>
            </form>
          </td>
      </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
  <div class="card">
      <h2>Add job</h2>
      <form name="add_job" method="post">
        <input name="action" type="hidden" value="add">
        <label for="job_id">League Name:</label><br>
        <input name="job_id" placeholder="League name" required><br>
        <label for="day_of_week">Day of the week:</label><br>
        <select name="day_of_week" required>
          <option value="sun">Sunday</option>
          <option value="mon">Monday</option>
          <option value="tue">Tuesday</option>
          <option value="wed">Wednesday</option>
          <option value="thu">Thursday</option>
          <option value="fri">Friday</option>
          <option value="sat">Saturday</option>
        </select><br>
        <label for="start_time">Start time:</label><br>
        <input type="time" name="start_time" required /><br>
        <label for="profile">Profile:</label><br>
        <select name="profile" required>
          {% for profile in profiles %}
            <option value="{{ profile }}">{{ profile }}</option>
          {% endfor %}
        </select><br>
        <button type="submit" value="Add Job">Add Job</button>
      </form>
  </div>

  <div popover id="help-popover">
    {% include 'partials/timer_help.html' %}
  </div>
{% endblock %}